---
import SparklesCore from "../components/SparklesCore.tsx";
import HeaderSEO from "../components/HeaderSEO.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <HeaderSEO title={title} description={description} />
  </head>

  <body
    class="bg-black leading-relaxed text-neutral-200 tracking-wide antialiased selection:bg-neutral-300 selection:text-neutral-900 z-10 relative"
  >
    <SparklesCore
      client:idle
      id="tsparticlesfullpage"
      background="transparent"
      minSize={0.6}
      maxSize={1.4}
      opacity={0.2}
      particleDensity={100}
      className="w-full h-full fixed z-0"
      particleColor="#FFFFFF"
    />
    <slot />
    <script src="../scripts/main.ts"></script>
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background-size: 224px;
        font-size: 1.125rem;
      }
    </style>
  </body>
</html>
